@media (max-width: 800px) {
    .father{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .profile-container{
        flex-direction: column;
    }
    .avatar{
        width: 100px;
        height: 100px;
    }
    .image-container{
        height: 300px;
    }
}
.avatar{
    border-radius: 50%;
}
.image-container{
    height: 180;
}
